<div class="screen-shot-area-root">
    <div class="twitter-like-area"></div>
    <div class="delay-area">
        <div class="delay-input-area">
            <div>
              <input id="delay" type="number"><span class="label-element">秒</span>
            </div>
            <button class="crop btn btn-primary"><i class="icono-crop"></i></button>
            <button class="full-screen-delay btn btn-primary"><i class="icono-clock"></i></button>
        </div>
    </div>
    <div id="screenshot-path"></div>
</div>
